body {
  padding: 20px;
  margin: 0px auto;
  margin-top: 50px;
  text-align: center;
  background-color: rgb(143, 143, 143);
}

h2 {
  padding: 10px;
}

ul {
  width: fit-content;
  margin: auto;
  text-align: left;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ffc6d6;
  margin: auto;
}

main {
  margin: auto;
  background-color: #FFFFFF;
  width: 75%;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link {
  color: #FF9CB9
}

a:visited {
  color: #ffd76e
}

table {
  border: "1";
}